<style>
.font
{
  font-family: monospace;
  color: white;
}
td 
    {
        border: 0px solid black;
        background-color: #16A085;
        height: 60px;
        border-radius: 5px;
        padding: 9px;
    }
.espace
    {
      width: 350px;
    }
a
{
  text-decoration: none;
  color: black;
}
</style>
<p id="notice"><%= notice %></p>

<div>
<table width="100%">
<td>
<center><h1><div class="font">New Note</div></h1></center>
</td>
</table>
</div>
<p></p>
<center>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
      <p>
      <h4>Body:</h4>
      <td><h5><%= note.body %></h5></td>
      </p>
      <p>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </p>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="boton"><%= link_to 'New Note', new_note_path %></div>
</center>
