<style>
.font
{
  font-family: monospace;
  color: white;
}
td 
    {
        border: 0px solid black;
        background-color: #16A085;
        height: 60px;
        border-radius: 5px;
        padding: 9px;
    }
.espace
    {
      width: 350px;
    }
a
{
  text-decoration: none;
  color: black;
}
</style>

<p id="notice"><%= notice %></p>
<div>
<table width="100%">
<td>
<center><h1><div class="font">Show Category</div></h1></center>
</td>
</table>
</div>
<p></p>
<center>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</center>
